<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>GOOSE</title>
    </head>
    <body>
        <h1>Гусь Бенедикт</h1>
        <img src="https://img5.goodfon.ru/original/360x480/f/46/ptitsa-gus-peizazh-priroda-bereg-vodoem-reka-prud-gory-kholm.jpg">
        <br>
        Привет я Бенедикт, гусь <del>лапчатый</del>
        <a href="https://ru.wikipedia.org/wiki/Гуси">благородный.</a>
            <p>
                <strong>Красивый,</strong>
                <mark>иногда злопамятный,</mark>
                <sup>но очень добрый</sup>
            </p>
    </body>
</html>